.app__hero-section {
    width: 100%;
    display: flex;
}

.app__hero-content {
    display: flex;
    margin-bottom: 65px;
    align-items: center;
}

.app__hero-content img {
    width: 45px;
    height: 44.567px;
    flex-shrink: 0;
}

.app__hero-content-text {
    justify-content: column;
    align-items: column;
}


.app__hero-section-title {
    color: #000;
    font-family: var(--quick-sand);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;

    margin-bottom: 5px;
}

.app__hero-section-subtitle {
    color: #000;
    font-family: var(--quick-sand);
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;

    max-width: 182px;
}

.app__hero-sections img:last-child {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 0;
    position: relative;
    width: 255px;
    height: 243.158px;
}

.app__hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: column;
}

.app__hero-container-button {
    z-index: 1;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-white);

    width: 239px;
    height: 60px;
    flex-shrink: 0;
}

.app__hero-container-button p {
    color: #000;
    font-family: var(--quick-sand);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    text-align: center;
}

.app__hero-container-button p:last-child {
    color: #000;
    font-family: var(--quick-sand);
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}