.app__gallery {
    padding-top: 55px;
    padding-bottom: 103px;
}

.app__gallery-images {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-top: 84px;
    border-top: 2px solid rgba(191, 216, 191, 0.49);;
}

.app__gallery_images-wrapper {
    display: flex;
    justify-content: center;
}

.app__gallery_images-wrapper > img:first-child {
    position: relative;
    max-width: 255px;
    width: 100%;
}

.app__gallery_images-wrapper > img:last-child {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}
