.app__gallery-images {
    margin-top: 138px;
    margin-bottom: 103px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.app__gallery_images-wrapper {
    display: flex;
    justify-content: center;
}

.app__gallery_images-wrapper > img:first-child {
    position: relative;
    max-width: 255px;
    width: 100%;
}

.app__gallery_images-wrapper > img:last-child {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
}
