@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --quick-sand: 'Quick Sand', serif;
  --libre-baskerville: 'Libre Baskerville', serif;

  --color-lightgray: lightgray;
  --color-green: #008000;
  --color-lightgreen: rgba(191, 216, 191, 0.49);
  --color-black: #000;
  --color-white: #ffffff;
  --color-grey: #aaaaaa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: 'Quicksand', sans-serif;
}

.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

ul,
ol {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
